@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&family=Roboto+Condensed&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    text-transform: uppercase;
}

body {
    background-color: black;
}

.header {
    background-color: rgb(25, 24, 25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 75px;
    width: auto;
}

.header .nav-links {
    display: flex;   /* Inline navbar 22/04 */
}

.header .nav-links li {
    display: inline-block;
    padding: 0 30px;
}

.header .nav-links li:hover, .menu li:hover {
    transform: scale(1.1);
}

.header .nav-links li a:hover {
    color: #ffd600;
}

.header button, .toggle_btn {
    padding: 9px 25px;
    border: 2px solid #ffd600;
    border-radius: 10px;
    background-color: rgb(25, 24, 25);
    cursor: pointer;
    font-weight: bold;
}

.header button:hover {
    background-color: #ffd600;
    border: 2px solid black;
    color: black;
}

.header .toggle_btn {
    cursor: pointer;
    display: none;
}

.header .toggle_btn:hover {
    background-color: #ffd600;
}

.menu {
    position: fixed;
    right: 8%;
    top: 70px;
    height: 0;
    width: 290px;
    background: rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu.open {
    height: 290px;
}

.menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li a:hover {
    color: #ffd600;
}

.header .menu button {
    width: 12rem;
    display: flex;
    justify-content: center;
    padding: 15px;
    border: none;
    background-color: #ffd600;
    cursor: pointer;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}

/* Body */
.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
    z-index: 1;
    
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.contact-box{
	max-width: 650px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content:right;
	align-items:end;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    padding-top: 2px;
}

.left{
	background: url("fondo.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #ffd600;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}



#map {
    height: 100%;
	width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.4;
    filter: grayscale(100%)
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .header .nav-links,
    .header button,
    .header .toggle_btn {
        display: none;
    }
    .header .toggle_btn {
        display: block;
    }
    .menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .menu {
        top: 69px;
        right: 0rem;
        width: 100%;
        border-radius: 0;
        background: rgb(25, 24, 25);
    }
    .menu li {
        height: 2.92rem;
    }
    .header .menu button {
        border-radius: 0;
        width: 28rem;
    }
    .header .logo img {
        height: 65px;
        width: auto;
    }
}